node_modules/
.gradle/
local.properties
android/app/google-services.json
.vscode/

android/.idea/
android/build/
android/capacitor-cordova-android-plugins/build/
android/app/build/
android/app/release/

.DS_Store